ul{
	margin:0;
	padding:0;
	list-style: none;
	overflow:hidden;
}

#n{
	display:block;
	//text-indent: -1000px;
}

li{float:left;}

//color

nav ul{
	width:618px;
	height: 36px;
}

nav{float:left;}



nav #n{
	width:103px;
	height: 36px;
	background:#999;
	color:white;
	font-size:12px;
	text-decoration:none;
	line-height:36px;
	text-align: center;
	-webkit-transition:1s all;
	-moz-transition:1s all;
	-o-transition:1s all;
	transition:1s all;
	
}

nav #n:hover{
	background:orange;
	color:black;
}


